{% if userInPlace %}
    <table border="1">
    	<tr>
    		<td>
    			Действие
    		</td>
    		<td>
    			Дата
    		</td>
    		<td>
    			ФИО
    		</td>
    		<td>
    			Место
    		</td>
    	</tr>
    {% for item in userInPlace %}
        <tr>
        	<td>{{ item.action }}</td>
        	<td>{{ item.date }}</td>
        	<td><a href="/skud/info/user/{{ item.user.id }}">{{ item.user.getFIO }}</a></td>
        	<td><a href="/skud/info/place/{{ item.place.id }}">{{ item.place.caption }}</a></td>
        </tr>
        
       
    {% endfor %}
    </table>
{% else %}
    <p>Нету посетителей</p>
{% endif %}