{% if place %}
	<table border=1>
		<tr>
			<td>Название</td>
			<td>Адрес</td>			
		</tr>
		<tr>
			<td>{{ place.caption }}</td>
			<td>{{ place.adres }}</td>
		</tr>
	</table>
	{% if stata %}
		<p>Последние посетители:</p>
		<table border=1>
			<tr>
				<td>Дата</td>
				<td>ФИО</td>
				<td>Действие</td>
			</tr>		
		{% for item in stata %}
			<tr>
				<td>{{ item.date }}</td>
				<td><a href="/skud/info/user/{{ item.user.id }}">{{ item.user.getFIO }}</a></td>
				<td>{{ item.action }}</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p> Посетителей пока не было </p>
	{% endif %}
{% else %}
	<p>Что-то пошло не так</p>
{% endif %}