{% if user %}
<table>
	<table border=1>
		<tr>
			<td>
				Фамилия
			</td>
			<td>
				Имя
			</td>
			<td>
				Отчество
			</td>
		</tr>
		<tr>
			<td>
				{{ user.last_name }}
			</td>
			<td>
				{{ user.first_name }}
			</td>
			<td>
				{{ user.second_name }}
			</td>
		</tr>
	</table>
	{% if stata %}
		<p>Статистика посещений:</p>
		<table border=1>
			<tr>
				<td>Место</td>
				<td>Дата</td>
				<td>Действие</td>
			</tr>
			{% for item in stata %}
				<tr>
					<td><a href="/skud/info/place/{{ item.place.id }}">{{ item.place.caption }}</a></td>
					<td>{{ item.date }}</td>
					<td>{{ item.action }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Пользователь ещё ничего не посетил</p>
	{% endif %}
</table>
{% else %}
	<p>Пользователь не найден</p>
{% endif %}